* {
  margin: 0;
  padding: 0;
}
.main {
  background: #f2ede1;
  min-height: 100vh;
  min-width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: sans-serif;
  /* position: fixed; */
}

.first-img {
  max-width: 100%;
}

.first-page-text {
  font-size: 24px;
  color: #4b4a48;
  text-align: center;
  margin-top: 10px;
}

.center-all {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  flex-direction: column;
}

.start-quiz-btn {
  background: #262626;
  height: 50px;
  width: 200px;
  border-radius: 8px;
  color: white;
  font-size: 24px;
  border: none;
  white-space: normal;
  margin-top: 10px;
}

.input-style {
  min-width: 30%;
  height: 35px;
  border: none;
  border-bottom: 1px solid #262626;
  max-width: 100%;
}

.survey-btn {
  margin-top: 10px;
}

.checkbox {
  font-size: 24px;
  border: 0.5px solid gray;
  background: #ddd8ce;
  width: 200px;
  margin: 3px;
  text-align: center;
  padding: 5px;
  border-radius: 5px;
  cursor: grab;
}

.checkbox-active {
  font-size: 24px;
  border: 3px solid black;
  background: #ddd8ce;
  width: 200px;
  margin: 3px;
  text-align: center;
  padding: 5px;
  border-radius: 5px;
  box-shadow: -1px 1px #ddd8ce;
  cursor: grab;
}

.success-text {
  font-size: 18px;
}
